hr {
  color: black;
}

.separator p:not(:first-child){
  border-left:1px solid #000;
  margin-left: 5px;
  padding-left: 5px;
}

p {
  display: inline-block;
}

.postImg {
  width: 150px;
  height: auto;
  float: left;
  margin: 20px;
}

.postBox {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 5px;
  background-color: grey;
  background-color: rgba(0,0,0,.1);
  display: inline-block;
}

.info {
  width: 70%;
  float: left;
}

.arrow {
  color: black;
}

.user {
  float: right;
  font-size: 14px;
}

.fadeIn.ng-enter {
  transition:1s linear all;
  opacity:0;
}

.fadeIn.ng-enter.ng-enter-active {
  transition:1s linear all;
  opacity:1;
}

.fadeOut.ng-leave {
  transition:1s linear all;
  opacity:1;
}

.fadeOut.ng-leave.ng-leave-active {
  transition:1s linear all;
  opacity:0;
}
